# Python temporary files
__pycache__/
*.pyc

# Data files (This is important!)
data/raw/*.json
data/processed/*.parquet

# Docker and Airflow logs
logs/
*.log

# Environment variables and hidden files
.env